MODEL:
  META_ARCHITECTURE: "GeneralizedRCNN"
  WEIGHT: "ckpt/base/DIOR_19+1_base_67.7.pth"
  BACKBONE:
    CONV_BODY: "R-50-C4"
  RESNETS:
    BACKBONE_OUT_CHANNELS: 1024
  RPN:
    USE_FPN: False
    ANCHOR_STRIDE: (16,)
    PRE_NMS_TOP_N_TRAIN: 12000
    PRE_NMS_TOP_N_TEST: 6000
    POST_NMS_TOP_N_TRAIN: 2000
    POST_NMS_TOP_N_TEST: 1000
  ROI_HEADS:
    USE_FPN: False
  ROI_BOX_HEAD:
    POOLER_RESOLUTION: 7
    POOLER_SCALES: (0.0625,)
    POOLER_SAMPLING_RATIO: 0
    FEATURE_EXTRACTOR: "ResNet50Conv5ROIFeatureExtractor"
    PREDICTOR: "FastRCNNPredictor"
    NUM_CLASSES: 16 # total classes : 15 + 1
    NAME_OLD_CLASSES: [ "plane", "baseball-diamond", "bridge", "ground-track-field", "small-vehicle", "large-vehicle", "ship", "tennis-court", "basketball-court", "storage-tank", "soccer-ball-field", "roundabout", "harbor", "swimming-pool" ]
    NAME_NEW_CLASSES: [ "helicopter" ]
    NAME_EXCLUDED_CLASSES: [ ]
DATASETS:
  TRAIN: ("dota_train",)
  TEST: ("dota_test",)
DATALOADER:
  SIZE_DIVISIBILITY: 0
SOLVER:
  BASE_LR: 0.0004 # start learning rate
  WEIGHT_DECAY: 0.0001
  GAMMA: 0.1  # learning rate decay
  STEPS: (1307, 1610)
  MAX_ITER: 1711 # number of iteration
  CHECKPOINT_PERIOD: 1610 # number of iteration to generate check point
  IMS_PER_BATCH: 4 # number of images per batch
  MOMENTUM: 0.9
TEST: # testing strategy
  IMS_PER_BATCH: 8 # number of images per batch
OUTPUT_DIR: "log/DOTA_" # path to store the result
TENSORBOARD_DIR: "log/DOTA_" # path to store tensorboard info